<style>
  :root {
    --after-bg-color:#1694da
  }
  {% comment %} @media screen and (max-width: 767px) {
    .burga-banner-main .burga-banner-item {
      grid-template:
        'logo title title title'
        'logo desc desc desc'
        'logo footer footer footer'
        'logo toggle toggle toggle' !important;
      grid-template-rows: 90px repeat(3, auto) !important;
      grid-template-columns: 110px repeat(3, auto) !important;
      padding: 0 20px 0 0 !important;
      letter-spacing: -0.32px !important;
    }
    .burga-banner-button {
      width: 100%;
      max-width: unset !important;
    }

    .burga-banner-main .burga-banner-item .burga-banner-footer {
      display: flex;
      justify-content: left;
      width: 100%;
      padding: 10px 0;
    }

    .burga-banner-code {
      text-align: center;
    }

    .burga-banner-code:before {
      width: 40px;
    }
  }
  .burga-banner-main {
    display: flex;
  }
  .burga-banner-item {
    position: relative;
    display: grid;
    grid-template-areas:
      'logo logo logo logo'
      'exclusive exclusive exclusive exclusive'
      'dots dots dots dots'
      'title title title title'
      'desc desc desc desc'
      'toggle toggle toggle toggle'
      'editors-pick clicks updated .'
      'footer footer footer footer';
    grid-template-columns: 1fr repeat(2, auto) 1fr;
    width: 100%;
    max-width: 100%;
    margin-bottom: 6px;
    padding: 0 12px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #d8d8d8;
  }
  .burga-banner-main .burga-banner-item {
    border: 1px solid #d6d5d5;
    border-radius: 10px;
    box-shadow: none;
    grid-template:
      'logo title title title title footer'
      'logo desc desc desc desc footer'
      'logo toggle toggle toggle toggle footer';
    grid-template-rows: auto auto 44px;
    grid-template-columns: 145px repeat(4, auto) 200px;
    margin-bottom: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }
  .burga-banner-logo {
    grid-area: logo;
    min-width: 136px;
    text-align: center;
  }
  .burga-banner-logo img {
    margin: 10px auto;
    max-width: 100px;
  }
  .burga-banner-main .burga-banner-item .burga-banner-logo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-width: unset;
    margin: 0;
    overflow: hidden;
  }
  .burga-banner-title {
    margin: 30px 0 0;
    font-weight: 700;
    font-size: 20px;
    min-height: 48px;
    line-height: 26px;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    grid-area: title;
    padding: 0 12px;
    padding-left: 0px;
    padding-right: 8px;
    color: #262626;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    cursor: pointer;
  }
  .burga-banner-description {
    margin: 24px 0 18px;
    color: #666;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-right: 8px;
    padding-left: 0;

    cursor: default;
    padding: 0 12px;
    grid-area: desc;
  }
  .burga-banner-main .burga-banner-item .burga-banner-description-small {
    display: none;
  }
  .burga-banner-description-small {
    max-height: 36px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  .burga-banner-table {
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin: 28px 0 8px;
    text-align: left;
  }
  .burga-banner-table .key {
    display: flex;
    font-size: 12px;
    margin-right: 3px;
    font-weight: 700;
  }
  .burga-banner-toggle {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;
    margin-top: 11px;
    color: #666;
    font-weight: 700;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    grid-area: toggle;
    margin: 8px 0 10px;
    cursor: pointer;
  }

  .burga-banner-toggle i {
    pointer-events: none;
  }

  .burga-banner-toggle i:after {
    display: inline-block;
    grid-area: arrow;
    width: 11px;
    height: 17px;
    margin-left: 5px;
    font-style: normal;
    line-height: 16px;
    transform: rotate(90deg);
    font-family: mighty-roberto, serif;
    content: '\e803';
  }
  .burga-banner-footer {
    display: grid;
    grid-area: footer;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
  }

  .burga-banner-main .burga-banner-item .burga-banner-footer {
    margin: 0 30px 0 auto;
    padding: 0;
  }

  .burga-banner-code:hover {
    color: #fff;
    background-color: #6b269b;
    border: none;
    box-shadow: none;
  }

  .burga-banner-code:hover:before {
    width: 45px;
  }

  .burga-banner-code:before {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: end;
    width: 40px;
    height: 100%;
    padding: 0 5px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    font-family: Arial, serif;
    background-color: #fff;
    border: 1px solid #d6d5d5;
    border-left: none;
    border-radius: 0 5px 5px 0;
    transition: 0.1s ease;
    content: '5%';
    clip-path: polygon(50% 45px, 0 0, 115% 0, 115% 45px);
  }

  .burga-banner-code:after {
    position: absolute;
    top: 2px;
    right: -4px;
    display: inline-block;
    width: 40px;
    height: 44px;
    background: linear-gradient(126deg, #fff 10%, #d6d5d5 48%, hsla(0, 0%, 100%, 0) 0);
    background-repeat: no-repeat;
    border-radius: 6px;
    transform: rotate(290deg) translateY(-9px);
    transition: 0.1s ease;
    content: '';
  }

  .burga-banner-code:hover:after {
    right: -2px;
    width: 42px;
    transform: rotate(288deg) translateY(-15px);
    transition: 0.1s ease;
  }

  .burga-banner-code {
    padding-left: 12px !important;
    text-align: initial !important;
  }

  .burga-banner-button:hover {
    color: #6b269b;
    background: #fff;
    border: 1px solid #6b269b;
    border-radius: 5px;
    /* box-shadow: -6px 6px 0 0 #6b269b; */
    transition: 0.1s ease;
  }

  .burga-banner-button {
    position: relative;
    right: auto;
    left: auto;
    display: inline-block;
    min-width: 175px;
    max-width: 90%;
    height: 40px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    line-height: 40px;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    background-color: #782eac;
    border-radius: 3px;
    box-shadow: inset -3px -3px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.5s;

    min-width: 175px;
    height: 44px;
    font-weight: 700;
    font-size: 15px;
    font-family: Open Sans, Helvetica Neue, sans-serif;
    line-height: 44px;
    background: #6b269b;
    border-radius: 5px;
    box-shadow: unset;
    transition: 0.1s ease;
  }

  .burga-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(178 178 178);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .burga-overlay.popup {
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }

  .burga-popup {
    margin: 70px auto;
    background: #fff;
    border-radius: 40px;
    max-width: 900px;
    position: relative;
    transition: all 5s ease-in-out;
  }

  .burga-popup .burga-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
  }

  .burga-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
    padding: 20px;
  }

  .burga-popup-logo {
    width: 130px;
    margin-bottom: 16px;
  }
  .burga-popup-logo-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
  }
  .burga-popup-offer-text {
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    margin: 0px;
    margin-bottom: 30px;
  }
  .burga-popup-end-soon {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 0px;
    margin-bottom: 28px;
  }
  .burga-popup-input-div {
    position: relative;
  }
  .burga-popup-input {
    background-color: #ffffff;
    border-radius: 54px;
    border: 2px solid #000002;
    box-sizing: border-box;
    width: 256px;
    padding: 16px 22px;
    color: #171717;
    font-size: 22px;
    font-weight: 800;
    line-height: 18px;
    position: relative;
  }
  .burga-popup-input-overlay {
  }
  .burga-popup-input-button {
    box-sizing: border-box;
    border-radius: 36px;
    background-color: #6b269b;
    color: #fff5ff;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 8px; */
    outline: none;
    padding: 15px 32px;
    text-decoration: none;
    position: absolute;
    right: 4px;
    top: 4px;
    box-shadow: rgb(178 178 178 / 33%) -20px 0px 20px 0px;
  }
  .burga-popup-input-helptext {
    margin: 0px;
    margin-top: 14px;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }
  .burga-popup-helptext-link {
    color: #6b269b;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .burga-popup-footer {
    margin-top: 30px;
    background-color: #f3f4f6;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 40px;
  }
  .burga-footer-text {
    color: #000000;
    font-size: 16px;
    max-width: 820px;
    font-weight: 500;
    line-height: 20px;
    margin: 0px;
    margin-bottom: 14px;
  } {% endcomment %}

  .button-container {
    position: relative;
  }

  .btn-primary {
    color: #fff ;
    background-color: var(--after-bg-color) !important;
    border-color: var(--after-bg-color) !important;
  }
  .button-text {
    font-size: 17px;
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 35px 45px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn-sticker {
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 25px;
    white-space: nowrap;
    position: relative;
    transition: clip-path 0.3s ease-out;
    box-shadow: none !important;
    border-width: 1px;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    line-height: 1.5;
    -webkit-clip-path: polygon(
      0 0,
      calc(100% - 1.1875rem) 0,
      calc(100% - 1.1875rem) 0,
      calc(100% + 0.1837068893rem) 100%,
      calc(100% + 0.1837068893rem) 100%,
      0 100%
    );
  }

  .btn-sticker-hidden {
    display: none !important;
  }

    .btn-sticker.btn-sticker-45 {
    width: 100%;
    min-width: 300px;
    font-family: inherit;
    line-height: 1;
    border-radius: 10px;
    padding: 20px 0px;
    border: 1px solid #00000014;
    border-bottom: 3px solid #00000026 !important;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
    -webkit-clip-path: polygon(
      0 0,
      calc(100% - 25px) 0,
      calc(100% + 45px) 100%,
      0 100%
    );
    clip-path: polygon(
      0 0,
      calc(100% - 25px) 0,
      calc(100% + 45px) 100%,
      0 100%
    );
    transition: all 0.3s ease-out;
  }

  .btn-sticker.btn-sticker-45:not(.btn-sticker-corner-static):hover {
    -webkit-clip-path: polygon(
      0 0,
      calc(100% - 40px) 0,
      calc(100% + 40px) 100%,
      0 100%
    );
    clip-path: polygon(
      0 0,
      calc(100% - 40px) 0,
      calc(100% + 40px) 100%,
      0 100%
    );
  }

  .btn-sticker.btn-sticker-45::after {
    height: 35px;
    width: 36px;
    top: -1px;
    right: -1px;
    transform: rotate(-45deg) translateX(1.1875rem);
    transition: all 0.3s ease-out;
  }

  .btn-sticker.btn-sticker-45:not(.btn-sticker-corner-static):hover::after {
    height: 50px;
    width: 53px;
    top: -2px;
    right: -2px;
    transform: rotate(-45deg) translateX(1.1875rem);
  }

  .btn-sticker-corner-border-inherit::after {
    border-color: inherit;
    border-width: inherit;
  }
  .btn-sticker::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50rem;
    background-color: #2c3032a8;
    border: 1px solid #ffffffa6;
    transition: transform 0.3s ease-out;
  }
  .btn-sticker::after {
    height: 2.375rem;
    width: 2.375rem;
    top: -1px;
    right: -1px;
    transform: rotate(-30deg) translateX(1.1875rem);
  }

  .btn-sticker.btn-sticker-45:not(.btn-sticker-corner-static):hover::after {
    transform: rotate(-45deg) translateX(2.375rem);
  }

  .btn-sticker:not(.btn-sticker-corner-static):hover::after {
    transform: rotate(-30deg) translateX(2.375rem);
  }

  .discount-code {
    display: none;
    justify-content: center;
    /* background-color: #16da4d; */
    /* color: white; */
    /* border: none; */
    /* border-radius: 25px; */
    opacity: 1;
    visibility: visible;
    /* padding: 24px 35px; */
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 1rem;
    line-height: 1;
    border-radius: 10px;
    padding: 20px 0px;
    border: 1px solid #00000014;
    border-bottom: 3px solid #00000026 !important;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
    width: 100%;
    cursor: pointer;
  }

  .discount-code p {
    margin: 0px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
    line-height: 1;
  }

  .discount-code span {
    margin: 0px;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #ffffffb8;
    position: absolute;
    bottom: 12px;
  }

  .revealed {
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    align-items: center;
  }

  #burga-banner-main{
    display:none;
  }

  /* New Button Style Variants */

  /* Rounded Pill Button Style */
  .btn-rounded {
    width: 100%;
    min-width: 300px;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
    border-radius: 50px !important;
    padding: 20px 40px;
    border: none;
    text-shadow: none;
    transition: all 0.3s ease-out;
    box-shadow: none;
  }

  .btn-rounded:hover {
    opacity: 0.9;
  }

  .discount-code.btn-rounded {
    border-radius: 50px !important;
    padding: 20px 40px;
    box-shadow: none;
    border: none;
  }

  /* Square/Sharp Edges Button Style */
  .btn-square {
    width: 100%;
    min-width: 300px;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0px !important;
    padding: 20px 40px;
    border: none;
    text-shadow: none;
    transition: all 0.3s ease-out;
    box-shadow: none;
  }

  .btn-square:hover {
    opacity: 0.9;
  }

  .discount-code.btn-square {
    border-radius: 0px !important;
    padding: 20px 40px;
    box-shadow: none;
    border: none;
  }

  /* Outline Button Style */
  .btn-outline {
    width: 100%;
    min-width: 300px;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
    border-radius: 8px !important;
    padding: 18px 40px;
    border: 2px solid;
    background-color: transparent !important;
    text-shadow: none;
    transition: all 0.3s ease-out;
    font-weight: 600;
    box-shadow: none;
  }

  .btn-outline:hover {
    opacity: 0.9;
  }

  .discount-code.btn-outline {
    border-radius: 8px !important;
    padding: 18px 40px;
    border: 2px solid;
    background-color: transparent !important;
    text-shadow: none;
    font-weight: 600;
    box-shadow: none;
  }
</style>

<turbo-discount id="turbo-discount-app">
  <div class="button-container" id="burga-banner-main">
    <button
      class="btn btn-primary btn-sticker btn-sticker-45 btn-sticker-corner-border-inherit"
      id="discountMainBtn"
    >
      <span class="button-text">Tap to reveal discount</span>
    </button>
    <button class="discount-code" id="discountCode">
      <p id="code_text_div">ABC-SG24F-34DA</p>
      <span>Click to apply discount code</span>
    </button>
  </div>
</turbo-discount>

<script>
  var turboCode = false;
  var discountSetID = `{{ block.settings.discount_set_id }}`;

  function updateAfterBackgroundColor(color) {
    const elements = document.querySelectorAll('.btn-sticker-45');
    elements.forEach(element => {
      element.style.setProperty('--after-bg-color', color);
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    const discountCode = document.getElementById("discountCode");
    const discountMainBtn = document.getElementById("discountMainBtn");
    const discountMainDiv = document.getElementById("burga-banner-main");
    const codeTextElement = document.getElementById('code_text_div');

    function revealCode() {
      discountCode.classList.add("revealed");
      discountMainBtn.classList.add("btn-sticker-hidden");
      document.querySelector(".button-text").style.display = "none";
    }

    function getDiscountCodeFromCookie() {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.startsWith('discount_code=')) {
          return cookie.substring('discount_code='.length, cookie.length);
        }
      }
      return null;
    }

    function checkDiscountCodeValidity(code) {
      return fetch(`/apps/turbodiscount?chkDiscountSetID=${discountSetID}&code=${code}`)
        .then(response => response.json())
        .then(data => data.codeStatus);
    }

    function applyButtonStyle(element, styleType) {
      // Remove all style classes
      element.classList.remove('btn-sticker', 'btn-sticker-45', 'btn-sticker-corner-border-inherit', 'btn-rounded', 'btn-square', 'btn-outline');

      // Apply the correct style class based on type
      if (styleType === 'rounded') {
        element.classList.add('btn-rounded');
      } else if (styleType === 'square') {
        element.classList.add('btn-square');
      } else if (styleType === 'outline') {
        element.classList.add('btn-outline');
      } else {
        // Default to sticker style
        element.classList.add('btn-sticker', 'btn-sticker-45', 'btn-sticker-corner-border-inherit');
      }
    }

    function fetchAndApplyDiscountCode() {
      return fetch(`/apps/turbodiscount?discountSetID=${discountSetID}`)
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json();
        })
        .then(data => {
          turboCode = data.discountCode;
          codeTextElement.innerText = turboCode;

          if (turboCode && data.standard_btn_text_color) {
            const buttonStyle = data.button_style_type || 'sticker';

            // Apply button style classes
            applyButtonStyle(discountMainBtn, buttonStyle);
            applyButtonStyle(discountCode, buttonStyle);

            // Apply colors for standard button
            discountMainBtn.style.color = data.standard_btn_text_color;
            discountMainBtn.style.borderColor = data.standard_btn_border_color || data.standard_btn_bg_color;

            // For outline style, background should be transparent
            if (buttonStyle === 'outline') {
              discountMainBtn.style.backgroundColor = 'transparent';
            } else {
              discountMainBtn.style.backgroundColor = data.standard_btn_bg_color;
              updateAfterBackgroundColor(data.standard_btn_bg_color);
            }

            discountMainBtn.querySelector('span').innerText = data.standard_btn_text;

            // Apply colors for success button
            discountCode.style.color = data.success_btn_text_color;
            discountCode.style.borderColor = data.success_btn_border_color || data.success_btn_bg_color;

            // For outline style, background should be transparent
            if (buttonStyle === 'outline') {
              discountCode.style.backgroundColor = 'transparent';
            } else {
              discountCode.style.backgroundColor = data.success_btn_bg_color;
            }

            // Update success button text
            const successSpan = discountCode.querySelector('span');
            if (successSpan) {
              successSpan.innerText = data.success_btn_text || 'Click to apply discount code';
            }

            discountMainDiv.style.display = "block";
            discountMainBtn.addEventListener('click', revealCode);
          }

          return turboCode;
        })
        .catch(error => {
          console.error('Error fetching discount:', error);
        });
    }

    function applyDiscountCode(code) {
      return fetch(`/discount/${code}`)
        .then(() => {
          return fetch('/cart/update.js', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              updates: {},
            }),
          });
        })
        .then(() => {
          sessionStorage.removeItem('bannerShown');
          sessionStorage.removeItem('bannerClosed');
          location.reload();
        })
        .catch(error => {
          console.error('Error applying discount code:', error);
        });
    }

    let discountCodeFromCookie = getDiscountCodeFromCookie();

    if (discountCodeFromCookie) {
      checkDiscountCodeValidity(discountCodeFromCookie)
        .then(isValid => {
          if (isValid) {
            discountMainBtn.style.display = "none";
            discountMainDiv.style.display = "none";
          } else {
            const expirationDate = new Date();
            expirationDate.setDate(expirationDate.getDate() - 7);
            document.cookie = `discount_code=""; expires=${expirationDate.toUTCString()}; path=/`;
            discountCodeFromCookie = null;
          }
        });
    }

    if (!discountCodeFromCookie) {
      fetchAndApplyDiscountCode()
        .then(code => {
          if (code) {
            discountCode.addEventListener('click', () => {
              const expirationDate = new Date();
              expirationDate.setDate(expirationDate.getDate() + 7);
              document.cookie = `discount_code=${code}; expires=${expirationDate.toUTCString()}; path=/`;
              applyDiscountCode(code);
            });
          }
        });
    }
  });
</script>

{% schema %}
{
  "name": "ClickX Button",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "discount_set_id",
      "label": "Discount Set ID"
    }
  ]
}
{% endschema %}